export EDITOR='code -w'
export GITHUB_TOKEN="{{- onepasswordRead "op://Personal/GitHub token/password" }}"

{{- if eq .chezmoi.hostname "Jackson-Streem" }}
export BROWSERSTACK_ACCESS_KEY="{{- onepasswordRead "op://Engineering/Browserstack Access Key/password" }}"
export BROWSERSTACK_USERNAME="antoinesabourin1"
export BUNDLE_RUBYGEMS__PKG__GITHUB__COM=$GITHUB_TOKEN
export FIGMA_ACCESS_TOKEN="{{- onepasswordRead "op://Personal/Figma Access Token/password" }}"
export FIGMA_TOKEN="{{- onepasswordRead "op://Personal/Figma Token/password" }}"
export GEMFURY_TOKEN="{{- onepasswordRead "op://Engineering/Gemfury deploy token/password" }}"
export NPM_TOKEN="{{- onepasswordRead "op://Engineering/Npm Registry Private Token/password" }}"
{{- end }}
